{% macro solscan_address_link(address) -%}
<a href="https://solscan.io/account/{{address}}{{solscan_suffix}}"><code>{{address}}</code></a>
{%- endmacro %}

{% macro solscan_tx_link(signature) -%}
<a href="https://solscan.io/tx/{{signature}}{{solscan_suffix}}"><code>{{signature}}</code></a>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>ckSOL Minter Dashboard</title>
    <style>
        body {
            font-family: monospace;
        }

        table {
            border: solid;
            text-align: left;
            width: 100%;
            border-width: thin;
        }

        h3 {
            font-variant: small-caps;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        table table {
            font-size: small;
        }

        .background {
            margin: 0;
            padding: 0;
        }

        .content {
            max-width: 100vw;
            margin: 0 auto;
            padding: 5px;
        }

        tbody tr:nth-child(odd) {
            background-color: #eeeeee;
        }

    </style>
</head>

<body>
    <div class="background">
        <div class="content">
            <h3 id="metadata">Metadata</h3>
            <table>
                <tbody>
                    <tr id="solana-cluster">
                        <th>Solana cluster</th>
                        <td><a href="https://solscan.io/{{solscan_suffix}}"><code>{{ solana_cluster }}</code></a></td>
                    </tr>
                    <tr id="minter-address">
                        <th>Minter address</th>
                        <td>{% if !minter_address.is_empty() %}{% call solscan_address_link(minter_address) %}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr id="ledger-canister-id">
                        <th>ckSOL ledger canister ID</th>
                        <td><a href="https://dashboard.internetcomputer.org/canister/{{ ledger_canister_id }}"><code>{{ ledger_canister_id }}</code></a></td>
                    </tr>
                    <tr id="sol-rpc-canister-id">
                        <th>SOL RPC canister ID</th>
                        <td><a href="https://dashboard.internetcomputer.org/canister/{{ sol_rpc_canister_id }}"><code>{{ sol_rpc_canister_id }}</code></a></td>
                    </tr>
                    <tr id="key-name">
                        <th>tEd25519 key name</th>
                        <td><code>{{ master_key_name }}</code></td>
                    </tr>
                    <tr id="manual-deposit-fee">
                        <th>Manual deposit fee (SOL)</th>
                        <td>{{ manual_deposit_fee }}</td>
                    </tr>
                    <tr id="automated-deposit-fee">
                        <th>Automated deposit fee (SOL)</th>
                        <td>{{ automated_deposit_fee }}</td>
                    </tr>
                    <tr id="withdrawal-fee">
                        <th>Withdrawal fee (SOL)</th>
                        <td>{{ withdrawal_fee }}</td>
                    </tr>
                    <tr id="minimum-deposit-amount">
                        <th>Minimum deposit amount (SOL)</th>
                        <td>{{ minimum_deposit_amount }}</td>
                    </tr>
                    <tr id="minimum-withdrawal-amount">
                        <th>Minimum withdrawal amount (SOL)</th>
                        <td>{{ minimum_withdrawal_amount }}</td>
                    </tr>
                    <tr id="balance">
                        <th>Balance (SOL)</th>
                        <td>{{ balance }}</td>
                    </tr>
                </tbody>
            </table>

            {% if !quarantined_swept_deposits_table.is_empty() %}
            <h3 id="quarantined-swept-deposits">Quarantined Swept Deposits</h3>
            <table>
                <thead>
                <tr>
                    <th>Deposit Id</th>
                    <th>Account</th>
                    <th>Sweep Txn</th>
                    <th>Planned Amount (SOL)</th>
                </tr>
                </thead>
                <tbody>
                {% for deposit in quarantined_swept_deposits_table.current_page %}
                <tr>
                    <td>{{ deposit.deposit_id }}</td>
                    <td><code>{{ deposit.account }}</code></td>
                    <td>{% call solscan_tx_link(deposit.signature) %}</td>
                    <td>{{ deposit.planned_amount }}</td>
                </tr>
                {% endfor %}
                {% if quarantined_swept_deposits_table.has_more_than_one_page() %}{{ quarantined_swept_deposits_table.pagination|safe }}{% endif %}
                </tbody>
            </table>
            {% endif %}

            {% if !minted_sweeps_table.is_empty() %}
            <h3 id="minted-sweeps">Minted Swept Deposits</h3>
            <table>
                <thead>
                <tr>
                    <th>Deposit Id</th>
                    <th>Account</th>
                    <th>Minted Amount (SOL)</th>
                    <th>Mint Block Index</th>
                </tr>
                </thead>
                <tbody>
                {% for minted in minted_sweeps_table.current_page %}
                <tr>
                    <td>{{ minted.deposit_id }}</td>
                    <td><code>{{ minted.account }}</code></td>
                    <td>{{ minted.minted_amount }}</td>
                    <td>{{ minted.mint_block_index }}</td>
                </tr>
                {% endfor %}
                {% if minted_sweeps_table.has_more_than_one_page() %}{{ minted_sweeps_table.pagination|safe }}{% endif %}
                </tbody>
            </table>
            {% endif %}

            {% if !deposits_table.is_empty() %}
            <h3 id="deposits">Deposits</h3>
            <table>
                <thead>
                <tr>
                    <th>Deposit Txn</th>
                    <th>Account</th>
                    <th>Deposit Amount (SOL)</th>
                    <th>Minted Amount (SOL)</th>
                    <th>Mint Block Index</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for deposit in deposits_table.current_page %}
                <tr>
                    <td>{% call solscan_tx_link(deposit.signature) %}</td>
                    <td><code>{{ deposit.account }}</code></td>
                    <td>{{ deposit.deposit_amount }}</td>
                    <td>{{ deposit.minted_amount }}</td>
                    <td>{{ deposit.mint_block_index }}</td>
                    <td>{{ deposit.status }}</td>
                </tr>
                {% endfor %}
                {% if deposits_table.has_more_than_one_page() %}{{ deposits_table.pagination|safe }}{% endif %}
                </tbody>
            </table>
            {% endif %}

            {% if !consolidations_table.is_empty() %}
            <h3 id="consolidations">Consolidation Transactions</h3>
            <table>
                <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Status</th>
                    <th>Mint Index</th>
                    <th>Deposit Amount (SOL)</th>
                </tr>
                </thead>
                <tbody>
                {% for c in consolidations_table.current_page %}
                {% for d in c.deposits %}
                <tr>
                    {% if loop.index0 == 0 %}
                    <td rowspan="{{ c.deposits.len() }}">{% call solscan_tx_link(c.transaction) %}</td>
                    <td rowspan="{{ c.deposits.len() }}">{{ c.status }}</td>
                    {% endif %}
                    <td>{{ d.mint_index }}</td>
                    <td>{{ d.deposit_amount }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
                {% if consolidations_table.has_more_than_one_page() %}{{ consolidations_table.pagination|safe }}{% endif %}
            </table>
            {% endif %}

            {% if !withdrawals_table.is_empty() %}
            <h3 id="withdrawals">Withdrawals</h3>
            <table>
                <thead>
                <tr>
                    <th>Withdrawal Txn</th>
                    <th>Account</th>
                    <th>Withdrawal Amount (SOL)</th>
                    <th>Burned Amount (SOL)</th>
                    <th>Burn Block Index</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for w in withdrawals_table.current_page %}
                <tr>
                    <td>{% if let Some(sig) = w.transaction %}{% call solscan_tx_link(sig) %}{% endif %}</td>
                    <td><code>{{ w.account }}</code></td>
                    <td>{{ w.withdrawal_amount }}</td>
                    <td>{{ w.burned_amount }}</td>
                    <td>{{ w.burn_block_index }}</td>
                    <td>{{ w.status }}</td>
                </tr>
                {% endfor %}
                {% if withdrawals_table.has_more_than_one_page() %}{{ withdrawals_table.pagination|safe }}{% endif %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

</body>
</html>
